build-helpers/clean-backup/*
build-helpers/*.txt
__pycache__/*
*.pyc
tests/test-mesh/*
build/*
!.gitkeep
!*.py
tmp/*
.vscode/*
cython_debug/*
*.vtk
*.msh
*.vtu
*.npy
*.log
ninpol.egg-info/*
.pytest_cache/*
.vscode/*
*.json